/*------------------------------------
 *    $VARIABLES
 *------------------------------------

/**
 * Colours
 **

$grey: #666666
$blue: #1b97d3
$black: #414651

/**
 * Transitions
 **

/**
 * Bootstrap Variables
 **

$screen-md: 1025px